* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: blueviolet;
}

h1 {
    color: white;
    margin-left: 20px; 
}

button{
    display: inline-block;
    margin-left: 20px;
    margin-top: 30px;
    border: 2px solid black;
}

.recipes-items {
    display: inline-block;
    padding: 10px;
}



